/*window {*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-color: black;*/
/*}*/

window#eDP-1 {
	background-image: url("/tmp/eDP-1.png");
}
window#DP-1 {
	background-image: url("/tmp/DP-1.png");
}
window#DP-2 {
	background-image: url("/tmp/DP-2.png");
}
window#DP-3 {
	background-image: url("/tmp/DP-3.png");
}
window#DP-4 {
	background-image: url("/tmp/DP-4.png");
}
window#DP-5 {
	background-image: url("/tmp/DP-5.png");
}
window#DP-6 {
	background-image: url("/tmp/DP-6.png");
}
window#DP-7 {
	background-image: url("/tmp/DP-7.png");
}

#window-box {
	/*padding: 64px;*/
	/*border: 1px solid black;*/
	/*border-radius: 4px;*/
	/*box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0);
}

#input-field {
  background-color: black;
}
